* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 45em) {
  body {
    background-color: hsl(229, 57%, 11%);
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
}

.bold {
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
}

.main-container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 125px 25px;
  max-width: 450px;

  /* width: 100%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

@media screen and (min-width: 45em) {
  .main-container {
    /* width: 100%; */
    padding-top: 288px;
    max-width: 920px;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  max-width: 600px;
  width: 100%;
}

@media screen and (min-width: 45em) {
  .flex-container {
    /* width: 100%; */
    max-width: 920px;
  }
}

.component__nav {
  background-color: hsl(228, 56%, 26%);
  display: flex;
  width: 100%;

  flex-direction: column;
  padding: 40px;
  border-radius: 10px 100px 10px 10px;
  box-shadow: 0 2.1px 9.3px rgba(0, 0, 0, 0.05),
    0 5.2px 23.5px rgba(0, 0, 0, 0.034), 0 10.6px 48px rgba(0, 0, 0, 0.028),
    0 21.9px 98.9px rgba(0, 0, 0, 0.022), 0 60px 271px rgba(0, 0, 0, 0.016);
}

@media screen and (min-width: 45em) {
  .component__nav {
    min-width: fit-content;
    max-width: 35%;
  }
}

.component__nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.component__nav-item {
  display: flex;
  align-items: center;
  background-color: hsl(229, 57%, 11%);
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 10px;

  transition: all 0.2s ease-in;
}

.component__nav-item:hover {
  box-shadow: 0 0 5px rgba(255, 163, 153, 0.8);
  border: 0.5px solid rgba(255, 163, 153, 0.8);
  /* border: 0.5px solid rgba(255, 163, 153, .8); */
  transform: translate(0, -2px);
}

.component__nav-item:active {
  transform: translate(0, 0);
  box-shadow: initial;
  border: 0.5px solid hsl(335, 100%, 65%);
}

.nav-icon {
  display: block;
  max-height: 100%;

  margin: 0 auto;
}

.data-storage {
  margin-top: 20px;
  background-color: hsl(228, 56%, 26%);
  width: 100%;

  height: 160px;
  color: hsl(243, 100%, 93%);
  padding: 35px 30px;

  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;

  box-shadow: 0 2.1px 9.3px rgba(0, 0, 0, 0.05),
    0 5.2px 23.5px rgba(0, 0, 0, 0.034), 0 10.6px 48px rgba(0, 0, 0, 0.028),
    0 21.9px 98.9px rgba(0, 0, 0, 0.022), 0 60px 271px rgba(0, 0, 0, 0.016);
}

@media screen and (min-width: 45em) {
  .data-storage {
    padding: 42px 40px 42px 40px;
    margin-top: 0;
    width: 65%;
    min-width: fit-content;
  }
}

.data-storage__text {
  font-size: 14px;
}

@media screen and (min-width: 45em) {
  .data-storage__text {
    text-align: left;
  }
}

.status-bar-wrapper {
  background-color: hsl(229, 57%, 11%);
  padding: 2px;
  margin-top: 15px;
  border-radius: 10px;
}

.data-storage__status-bar {
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  padding: 2px;
  border-radius: 10px;

  width: 81.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar-circle {
  background-color: #fff;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

/* .data-storage__status-bar::after {
  content: "";
  height: 90%;
  width: 10px;
  border-radius: 100px;
  background-color: #fff;
  position: absolute;
} */

.data-storoage__min-max-value {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.data-storage__unused-storage {
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(229, 7%, 55%);

  background-color: white;
  width: 175px;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 20px auto;
}

@media screen and (min-width: 45em) {
  .data-storage__unused-storage {
    position: absolute;
    top: -64px;
    right: 40px;
  }

  .data-storage__unused-storage::after {
    content: "";
    width: 0;
    height: 0;
    width: 60px;
    border-top: solid 22px transparent;
    border-bottom: solid 22px transparent;
    border-right: solid 22px white;

    position: absolute;
    bottom: -21px;
    right: 0;
  }
}

.bytes {
  color: black;
  font-size: 38px;
  font-weight: 700;
  vertical-align: middle;
}

@media screen and (min-width: 45em) {
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .data-storage {
    position: relative;
    margin-left: 30px;
  }

  .data-storage__unused-storage {
    position: absolute;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  color: hsl(228, 45%, 44%);
  margin-top: 80px;
}

@media screen and (min-width: 45em) {
  .attribution {
    margin-top: 15px;
    margin-left: 2px;
    text-align: left;
  }
}
.attribution a {
  color: hsl(229, 7%, 55%);
  text-decoration: none;
  transition: all 0.3s;
}

.attribution a:hover {
  color: hsl(243, 100%, 93%);
}
