:root {
  /* Colors: */
  --primary-gradient: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  --neutral-pale-blue: hsl(243, 100%, 93%);
  --neutral-grayish-blue: hsl(229, 7%, 55%);
  --neutral-light-blue: hsl(228, 45%, 44%);
  --neutral-dark-blue: hsl(228, 56%, 26%);
  --neutral-very-dark-blue: hsl(229, 57%, 11%);
}

/* CSS Reset ///////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles //////////////////////////////////////// */

body {
  background-image: url(./images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 60em) {
  body {
    background-color: var(--neutral-very-dark-blue);
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
}

.bold {
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
}

/* Component ///////////////////////////////////// */

.main-container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 125px 25px;
  max-width: 450px;
}

@media screen and (min-width: 60em) {
  .main-container {
    padding: 288px 0 0 0;
    max-width: 920px;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  max-width: 600px;
  width: 100%;
}

@media screen and (min-width: 60em) {
  .flex-container {
    max-width: 920px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

/*  Component Navigation //////////////////////// */

.component__nav {
  background-color: var(--neutral-dark-blue);
  width: 100%;
  padding: 40px;

  display: flex;
  flex-direction: column;

  border-radius: 10px 100px 10px 10px;
  box-shadow: 0 2.1px 9.3px rgba(0, 0, 0, 0.05),
    0 5.2px 23.5px rgba(0, 0, 0, 0.034), 0 10.6px 48px rgba(0, 0, 0, 0.028),
    0 21.9px 98.9px rgba(0, 0, 0, 0.022), 0 60px 271px rgba(0, 0, 0, 0.016);

  animation: animateInFromTop 0.5s ease-in;
}

@media screen and (min-width: 60em) {
  .component__nav {
    min-width: fit-content;
    max-width: 35%;
  }
}

.component__nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.component__nav-item {
  display: flex;
  align-items: center;
  background-color: var(--neutral-very-dark-blue);
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 10px;

  transition: all 0.2s ease-in;
}

.component__nav-item:hover {
  box-shadow: 0 0 5px rgba(255, 163, 153, 1);
  border: 0.5px solid rgba(255, 163, 153, 1);
  transform: translate(0, -2px);
}

.component__nav-item:active {
  transform: translate(0, 0);
  box-shadow: initial;
  border: 0.5px solid hsl(335, 100%, 65%);
}

.nav-icon {
  display: block;
  max-height: 100%;

  margin: 0 auto;
}

/* Component Storage Module //////////////////////////////// */

.data-storage {
  color: var(--neutral-pale-blue);
  text-align: center;
  height: 160px;
  width: 100%;
  padding: 35px 30px;
  background-color: var(--neutral-dark-blue);
  border-radius: 10px;
  margin-top: 16px;
  position: relative;

  box-shadow: 0 2.1px 9.3px rgba(0, 0, 0, 0.05),
    0 5.2px 23.5px rgba(0, 0, 0, 0.034), 0 10.6px 48px rgba(0, 0, 0, 0.028),
    0 21.9px 98.9px rgba(0, 0, 0, 0.022), 0 60px 271px rgba(0, 0, 0, 0.016);

  animation: animateInFromBottom 0.5s ease-in;
}

@media screen and (min-width: 60em) {
  .data-storage {
    padding: 42px 40px 42px 40px;
    margin-top: 0;
    width: 65%;
    min-width: fit-content;

    position: relative;
    margin-left: 30px;
  }
}

.data-storage__text {
  font-size: 14px;
}

@media screen and (min-width: 60em) {
  .data-storage__text {
    text-align: left;
  }
}

.status-bar-wrapper {
  background-color: var(--neutral-very-dark-blue);
  padding: 2px;
  margin-top: 15px;
  border-radius: 10px;
}

.data-storage__status-bar {
  background: var(--primary-gradient);
  padding: 2px;
  width: 81.5%;
  border-radius: 10px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  animation: animateInScale 0.5s ease-in;
}

.status-bar-circle {
  background-color: #fff;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.data-storoage__min-max-value {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.data-storage__unused-storage {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--neutral-grayish-blue);

  background-color: white;
  width: 175px;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 20px auto;
}

@media screen and (min-width: 60em) {
  .data-storage__unused-storage {
    position: absolute;
    top: -64px;
    right: 40px;

    animation: animateInFromTop2 0.5s ease-in;
  }

  .data-storage__unused-storage::after {
    content: "";
    width: 0;
    height: 0;
    width: 60px;
    border-top: solid 22px transparent;
    border-bottom: solid 22px transparent;
    border-right: solid 22px white;

    position: absolute;
    bottom: -21px;
    right: 0;
  }
}

.bytes {
  color: black;
  font-size: 38px;
  font-weight: 700;
  vertical-align: middle;
}

/* Attribution ///////////////////////////////////////////  */

.attribution {
  font-size: 11px;
  text-align: center;

  color: var(--neutral-light-blue);
  margin-top: 80px;

  animation: animateInFromBottom 0.5s ease-in;
}

@media screen and (min-width: 60em) {
  .attribution {
    margin-top: 15px;
    margin-left: 2px;
    text-align: left;
  }
}

.attribution a {
  color: var(--neutral-grayish-blue);
  text-decoration: none;
  transition: all 0.3s;
}

.attribution a:hover {
  color: var(--neutral-pale-blue);
}

/* Animation ///////////////////////////////// */

@keyframes animateInScale {
  0% {
    transform-origin: 0;
    transform: scaleX(0.2);
  }

  100% {
    transform-origin: 0;
    transform: scaleX(1);
  }
}

@keyframes animateInFromTop {
  0% {
    opacity: 0%;
    transform: translateY(-20px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes animateInFromTop2 {
  0% {
    opacity: 0%;
    transform: translateY(-20px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes animateInFromBottom {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
